<launch>

<node
 name="listener"
 pkg="beginner_tutorials"
 type="listener"
 launch-prefix="xterm -e"
 output="screen"
/>

<param name="Hz" value="10" />

<arg name="baging" default="1"/>

<node
 name="talker"
 pkg="beginner_tutorials"
 type="talker"
 launch-prefix="xterm -e"
 output="screen"
/>

<node
 name="chatter_record"
 pkg="rosbag"
 type="record"
 args="-O chatter.bag --duration=15 /chatter"
 if="$(arg baging)"
/>
 

</launch>
